body {
    font-family: Quintessential;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 15px;
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

/* nav bar */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #008080;
    text-shadow: 0 0 10px #008080, 0 0 20px #008080;
}

main {
    max-width: 800px;
    text-align: center;
    margin-top: 40px;
}

/* Tab */
.tab-content {
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.tab-content.active {
  display: block;
}

.tab-btn:hover {
  color: #008080;
  text-shadow: 0 0 10px #008080, 0 0 20px #008080;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}