body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 15px;
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

/* nav bar */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #008080;
    text-shadow: 0 0 10px #008080, 0 0 20px #008080;
}